* {
  margin: 0;
  padding: 0;
}

/*NAVBAR*/

.navSelected {
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

#navbar {
  background: red;
}

#navbar ul {
  text-align: center;
  padding: 10px;
}

#navbar ul li {
  text-decoration: none;
  display: inline-block;
  padding: 0 20px;
  font-family: 'Special Elite', cursive;
}

#navbar a:hover {
  box-shadow: 3px 3px 4px;
}

/*MAIN CONTENT*/

#mainContent {
  width: 60%;
  margin: auto;
  padding-top: 20px;
}

.bannerHeadline {
  font-family: 'Special Elite', cursive;
  text-align: center;
  padding: 20px;
}

.companyDescription {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}


/*FONT INFO*/
/*font-family: 'Special Elite', cursive;
font-family: 'Oswald', sans-serif;*/

.complimenthead {
  font-family: "Special Elite", cursive;
  text-align: center;
  margin: 20px;
}

.complimenthead h3 {
  font-size: 1.2em;
}

.complimentbody {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin: 40px 300px;
}
